@if (step==1) 
{
    <section  class="bg-main-light rounded-4 my-2 p-2 shadow">
        
        <h2 class=" text-main fw-bolder fs-4 my-3">Forgot Password</h2>
            <!----Alert Message------->
            @if (isAlertVisible) 
            {
                <div  class="alert alert-success mx-auto w-75 text-center text-main mt-3 p-1 rounded-5" role="alert">
                    Reset code sent successfully to your email.
                    </div>
            } <!----------------------->
        <small>Enter your email address below and we'll send you a code to reset your password.</small>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotpassword()">
            <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input 
            [ngClass]="{
                'is-valid': !forgotPasswordForm.get('email')?.errors && (forgotPasswordForm.get('email')?.touched || forgotPasswordForm.get('email')?.dirty),
                'is-invalid': forgotPasswordForm.get('email')?.errors && (forgotPasswordForm.get('email')?.touched || forgotPasswordForm.get('email')?.dirty)
            }"
            type="email" class="form-control rounded-5" id="email" placeholder="Enter your email..." required formControlName="email" >
            </div>
            <div>
                @if (forgotPasswordForm.get('email')?.errors &&  (forgotPasswordForm.get('email')?.touched || forgotPasswordForm.get('email')?.dirty)) 
                {
                    <div class="alert alert-danger mx-auto w-25 text-center mt-2 p-0">
                        @if (forgotPasswordForm.get('email')?.getError('required'))  {<small class="m-0"> Email Is Required </small>}
                        @if (forgotPasswordForm.get('email')?.getError('email'))     {<small class="m-0"> Enter Valid Email</small>}
                    </div>
                }
            </div>
            <button [disabled]="forgotPasswordForm.invalid || Loading" type="submit" class="btn btn-main btn-sm w-100 rounded-5">Send Reset Code
                @if (Loading==true) {<span class="fas fa-spinner fa-spin" role="status" aria-hidden="true"></span> }
            </button>
        </form>
        
        <div class="text-center mt-3">
            <a routerLink="/login" class="text-decoration-none">Back to Login</a>
        </div>
</section>
}

@else if (step==2) 
{
    <section class="bg-main-light rounded-4 my-2 p-2 shadow">
        <h2 class="text-main fw-bolder fs-4 my-3">Enter Verification Code</h2>
        <small>We've sent a verification code to your email. Please enter it below to verify your identity and reset your password.</small>
        
        <form [formGroup]="sendCodeForm" (ngSubmit)="sendCode()">
            <div class="mb-3">
                <label for="verification-code" class="form-label">Verification Code</label>
                <input 
                [ngClass]="{
                    'is-valid': !sendCodeForm.get('resetCode')?.errors && (sendCodeForm.get('resetCode')?.touched || sendCodeForm.get('resetCode')?.dirty),
                    'is-invalid': sendCodeForm.get('resetCode')?.errors && (sendCodeForm.get('resetCode')?.touched || sendCodeForm.get('resetCode')?.dirty)
                }"
                type="text" class="form-control rounded-5" id="verification-code" placeholder="Enter the code..." required formControlName="resetCode">
            </div>
            <div>
                @if (sendCodeForm.get('resetCode')?.errors &&  (sendCodeForm.get('resetCode')?.touched || sendCodeForm.get('resetCode')?.dirty)) 
                {
                    <div class="alert alert-danger mx-auto w-25 text-center mt-2 p-0">
                        @if (sendCodeForm.get('resetCode')?.getError('required'))  {<small class="m-0">  Code Is Required </small>}
                        @if (sendCodeForm.get('resetCode')?.getError('pattern'))     {<small class="m-0"> Enter Valid Code</small>}
                    </div>
                }
            </div>
            <button [disabled]="sendCodeForm.invalid || Loading" type="submit" class="btn btn-main w-100 btn-sm rounded-5">Verify Code
                @if (Loading == true) {<span class="fas fa-spinner fa-spin" role="status" aria-hidden="true"></span>}
            </button>
            
        </form>
        
        <div class="text-center mt-3 ms-2">
            <small>Didn't receive a code?</small>
            <span (click)="!Loading && !resendMsg && resendCode()" 
                [class.disabled]="Loading || resendMsg" 
                class="customm-link">
                Resend Code
            </span>

            <!-- !alert -->
            @if (isCodeInvalid) {
                <div class="alert alert-danger mt-2 p-0 mx-auto text-center rounded-5 w-75">
                {{isCodeInvalid}} 
                </div>
            }
        </div>

        <div class="text-center mt-3">
            <a routerLink="/login" class="text-decoration-none">Back to Login</a>
        </div>
    </section>
}

@else if (step==3) 
{
    <section class="bg-main-light rounded-4 my-2 p-2 shadow">
        <h2 class="text-main fw-bolder fs-4 my-3">Reset Password</h2>
        @if (success) {<small class=" alert alert-success fw-bold mx-auto w-75 text-center mt-1 p-0 rounded-4">success...</small>}
        <small>Enter your new password below.</small>
        
        <form [formGroup]="resetNewPasswordForm" (ngSubmit)="resetPassword()">
            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input readonly type="email" class="form-control rounded-5" id="email" placeholder="Enter your email..." required formControlName="email">
            </div>
            
            <div class="mb-3">
                <label for="new-password" class="form-label">New Password</label>
                <input 
                [ngClass]="{
                    'is-valid'  : ! resetNewPasswordForm.get('newPassword')?.errors && (resetNewPasswordForm.get('newPassword')?.touched || resetNewPasswordForm.get('newPassword')?.dirty),
                    'is-invalid': resetNewPasswordForm.get('newPassword')?.errors && (resetNewPasswordForm.get('newPassword')?.touched || resetNewPasswordForm.get('newPassword')?.dirty)
                }"
                type="password" class="form-control rounded-5 text-muted" id="new-password" placeholder="Enter your new password..." required formControlName="newPassword">
                <div>
                    @if (resetNewPasswordForm.get('newPassword')?.errors &&  (resetNewPasswordForm.get('newPassword')?.touched || resetNewPasswordForm.get('newPassword')?.dirty)) 
                    {
                        <div class="alert alert-danger mx-auto w-25 text-center mt-1 p-0">
                            @if (resetNewPasswordForm.get('newPassword')?.getError('required'))  {<small class="m-0"> New password Is Required </small>}
                            @if (resetNewPasswordForm.get('newPassword')?.getError('pattern'))     {<small class="m-0"> Enter Valid Password</small>}
                        </div>
                    }
                </div>
            </div>
            
            <button [disabled]="resetNewPasswordForm.invalid || Loading" type="submit" class="btn btn-main w-100 btn-sm rounded-5">Reset Password
                @if (Loading==true) {<span class="fas fa-spinner fa-spin" role="status" aria-hidden="true"></span> }
            </button>
        </form>
        
        <div class="text-center mt-3">
            <a routerLink="/login" class="text-decoration-none">Back to Login</a>
        </div>
    </section>
}
