<section class="my-2 py-5 ">
    <h2 class="text-main fw-bolder fs-4 my-3 text-center">{{'HOME.POPULAR_PRODUCTS'|translate}}</h2>
    <input [(ngModel)]='text' type="search" class="w-50 form-control mx-auto my-2 rounded-5" placeholder="Search by name...">
    <div> 
        <div class="row g-3 my-1">
            @for (product of productList | searchPipe:text; track product.id) {
                <div class="col-md-2">
                    <div class="product card p-2">
                        <div>
                            <div [routerLink]="['/details', product.id]">
                                <img [src]="product.imageCover" [alt]="product.title" class="w-100">
                                <h3 class="small text-main mt-1 fw-bold text-center">{{product.category.name}}</h3>
                                <h4 class="h6 mt-1 text-center">{{product.title.split(' ',2).join(' ')}}</h4>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="text-main fw-bold">{{product.price | currency:'GBP' }}</span>
                                    <div>
                                        @for (star of [1,2,3,4,5].slice(0,product.ratingsAverage); track $index) 
                                            {
                                                <span><i class="fas fa-star rating-color"></i></span>
                                            }
                                            @if (product.ratingsAverage %1 !== 0) {
                                                <i class="fas fa-star-half-stroke rating-color"></i>
                                            }
                                            <span class="text-muted">{{product.ratingsAverage}}</span>
                                    </div>
                                </div>
                            </div>
                                <div><button (click)="addToCart(product.id)" class= "btn btn-main mt-1 w-100 rounded-4 ">+Add to cart</button></div>
                        </div>
                    </div>
                </div>
            }
            </div>
    </div>
</section>
