<section class="order-section bg-main-light rounded-4 my-2 p-2 shadow">   
    <ng-container *ngIf="order">  
        <div class="container">  
            <h1 class="text-main h2 text-center my-3 fw-bold">Order Details</h1>  
            
            <div class="order-timestamp">  
                <p><strong class="text-main small fw-semibold">Order Created At:</strong> {{ order.createdAt | date:'medium' }}</p>  
                <p><strong class="text-main small fw-semibold">Paid At:</strong> {{ order.paidAt | date:'medium' }}</p>  
            </div>  
            
            <div class="order-details grid-container">  
                <div class="user-details bg-main-light rounded-4 my-2 p-2 shadow">  
                    <h2 class="small fw-semibold text-center text-main">User Information:</h2>  
                    <p><strong class="text-main small fw-semibold">Name:</strong> {{ order.user.name }}</p>  
                    <p><strong class="text-main small fw-semibold">Email:</strong> {{ order.user.email }}</p>  
                    <p><strong class="text-main small fw-semibold">Phone:</strong> {{ order.user.phone }}</p>  
                </div>  
                
                <div class="order-summary bg-main-light rounded-4 my-2 p-2 shadow">  
                    <h2 class="small fw-semibold text-center text-main">Order Information:</h2>  
                    <p><strong class="text-main small fw-semibold">Order ID:</strong> {{ order.id }}</p>  
                    <p><strong class="text-main small fw-semibold">Payment Method:</strong> {{ order.paymentMethodType }}</p>  
                    <p><strong class="text-main small fw-semibold">Payment Status:</strong> <span class="status paid">Paid</span></p>  
                    <p><strong class="text-main small fw-semibold">Delivery Status:</strong> <span class="status not-delivered">Not Delivered</span></p>  
                    <p><strong class="text-main small fw-semibold">Payment Date:</strong> {{ order.createdAt | date:'medium' }}</p>  
                    <p><strong class="text-main small fw-semibold">Total Order Price:</strong> {{ order.totalOrderPrice }} EGP</p>  
                </div>  
                
                <div class="shipping-address bg-main-light rounded-4 my-2 p-2 shadow">  
                    <h2 class="small fw-semibold text-center text-main">Shipping Address:</h2>  
                    <p><strong class="text-main small fw-semibold">Details:</strong> {{ order.shippingAddress.details }}</p>  
                    <p><strong class="text-main small fw-semibold">Phone:</strong> {{ order.shippingAddress.phone }}</p>  
                    <p><strong class="text-main small fw-semibold">City:</strong> {{ order.shippingAddress.city }}</p>  
                </div>  
            </div>  

            <div class="cart-items bg-main-light rounded-4 my-2 p-2 shadow">  
                <h2 class="small fw-semibold text-center text-main">Cart Items:</h2>  
                <ul>  
                    <li *ngFor="let item of order.cartItems" class="cart-item">  
                        <img [src]="item.product.imageCover" alt="{{ item.product.title }}" />  
                        <div class="item-details">  
                            <h4 class="text-main small fw-semibold">{{ item.product.title }}</h4>  
                            <p><strong>Count:</strong> {{ item.count }}</p>  
                            <p><strong>Price:</strong> {{ item.price }} EGP</p>  
                        </div>  
                    </li>  
                </ul>  
                <div class="total-price text-main text-center">  
                    <strong>Total Price:</strong> {{ order.totalOrderPrice }} EGP  
                </div> 
                <hr>
                <button class="btn-main mt-3 d-block mx-auto" routerLink='/home'>Go To Home Page</button>  
            </div>  
        </div>  
    </ng-container>  
</section>