<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top"> 
    <div class="container">
        <a class="navbar-brand cr">
            <img src="./assets/images/freshcart-logo.svg" routerLink="home" alt="#">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">      
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav  mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-black cr" routerLink="home" routerLinkActive="active-link">
                        {{ 'NAV.HOME' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black cr" routerLink="products" routerLinkActive="active-link">
                        {{ 'NAV.PRODUCTS' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black cr" routerLink="categories" routerLinkActive="active-link">
                        {{ 'NAV.CATEGORIES' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black cr" routerLink="brands" routerLinkActive="active-link">
                        {{ 'NAV.BRANDS' | translate }}
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav  mb-2 mb-lg-0">
                
                <li class="nav-item">
                    <a class="nav-link position-relative" routerLink="cart" routerLinkActive="customm-link text-white">
                        <i class="fa-solid fa-cart-plus fa-2x"></i>
                        <span class="bg-main badge position-absolute top-0 start-0 rounded-5 ">{{count()}}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cr text-black">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cr text-black">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cr text-black">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cr text-black">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cr text-black">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a (click)="logout()" class="nav-link cr text-muted text-black">
                        {{ 'NAV.SIGNOUT' | translate }}
                    </a>
                </li>
                <!-- Dropdown Language Selector -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ 'NAV.LANGUAGE' | translate }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                        <li><a class="dropdown-item cr" [class.bg.info]="_TranslateService.currentLang == 'en' "  (click)="changeLanguage('en')">EN
                            <span class="checkmark" *ngIf="_TranslateService.currentLang == 'en'">✓</span>
                        </a></li>
                        
                        
                        <li><a class="dropdown-item cr" [class.bg.info]="_TranslateService.currentLang == 'ar' " (click)="changeLanguage('ar')">AR
                            <span class="checkmark" *ngIf="_TranslateService.currentLang == 'ar'">✓</span>
                        </a></li> 
            </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
