.customm-link {
    background-color: var(--main-color) !important;
    border-radius: 5px;
    text-align: center;
}
.checkmark {
    color: #0aad0a; /* لون علامة الصح */
    margin-left: 5px; /* المسافة بين اللغة وعلامة الصح */
}

